@model WeatherViewModel

@{
    ViewData["Title"] = "Weather Page";
}

<style>
    .weather {
        display: inline-block;
    }
</style>

<div class="text-center">
    <h1 id="locationName">8 day weather forecast for @Model.LocationName</h1>
    <div>
        @foreach (var item in Model.WeatherForecasts)
        {
            <div class="weather">
                <img src="@item.WeatherImageUrl" width="125px" alt="@item.Description"  />
                <div>@item.Description</div>
            </div>
        }        
    </div>
    <div></div>
    <div>
        <form asp-action="Index">
            @(Html.DropDownList("Location"))
            <button type="submit">Change</button>
        </form> 
    </div>
</div>