@model WeatherViewModel

@{
    ViewData["Title"] = "Weather Page";
}

<style>

    .weather {
        display: inline-block;
        padding-right: 10px;
    }
    
    .weather img {
        padding-bottom: 1px
    }

    .weather div {
        font-size: large;
    }
    
    .formWrapper {
        padding-top: 15px
    }
</style>

<div class="text-center">
    <h1 id="locationName">@Model.WeatherForecasts.Count() day weather forecast for @Model.LocationName</h1>
    <div>
        @foreach (var item in Model.WeatherForecasts)
        {
            <div class="weather">
                <img src="@item.WeatherImageUrl" width="125px" alt="@item.Description"  />
                <div>@item.Description</div>
            </div>
        }        
    </div>
    <div></div>
    <div class="formWrapper">
        <form asp-action="Index">
            @(Html.DropDownList("location"))
            <button type="submit">Change</button>
        </form> 
    </div>
</div>